html {
	background-color: #EEEEEE;
	margin: 1em;
}

body {
	margin: 0 auto;
	padding: 0.75in;
	max-width: 7in;
	display: flex;
	place-items: center;
	background-color: #FFFFFF;
}

@media print {
	@page {
	  	size: 8.5in 11in;
	}
	
	html {
		visibility: hidden;
		background-color: #FFFFFF;
	}

	body {
		padding: 0;
		margin: 0;
	}
	
	body, body * { 
		color-adjust: exact !important;  
		-webkit-print-color-adjust: exact !important; 
		print-color-adjust: exact !important;
		visibility: hidden;
	}

	#app, #app * {
	  	visibility: visible;
	}
}