body {
  margin: 1em;
  display: flex;
  place-items: center;
  background-color: #FFFFFF;
}

@media print {
	@page {
	  	size: 8.5in 11in;
	}
	
	html {
		background-color: #FFFFFF;
	}

	* { 
		color-adjust: exact !important;  
		-webkit-print-color-adjust: exact !important; 
		print-color-adjust: exact !important;
	  visibility: hidden;
	}

	#app, #app * {
	  	visibility: visible;
	}
}